<div style="width: 100%; overflow: hidden;">
    <div style="width: 150px; float: left;"> <img src="data/D4Sci_logo_ball.png" alt="Data For Science, Inc" align="left" border="0"> </div>
    <div style="float: left; margin-left: 10px;"> <h1>Causal Inference In Statistics - A Primer</h1>
        <p><a href="https://amzn.to/3gsFlkO" target=_blank>Amazon Affiliate Link</a></p>
<h1>1.3 Probability and Statistics</h1>
        <p>Bruno Gon√ßalves<br/>
        <a href="http://www.data4sci.com/">www.data4sci.com</a><br/>
            @bgoncalves, @data4sci</p></div>
</div>

In [1]:
from collections import Counter
from pprint import pprint

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

import watermark

%load_ext watermark
%matplotlib inline

We start by print out the versions of the libraries we're using for future reference

In [2]:
%watermark -n -v -m -g -iv

json      2.0.9
watermark 2.0.2
numpy     1.18.1
autopep8  1.5
pandas    1.0.1
Tue May 26 2020

CPython 3.7.3
IPython 6.2.1

compiler   : Clang 4.0.1 (tags/RELEASE_401/final)
system     : Darwin
release    : 19.4.0
machine    : x86_64
processor  : i386
CPU cores  : 8
interpreter: 64bit
Git hash   : 5aa15fb5ee09fc43ba7a4597f853c0ef58bb0b2a

Load default figure style

In [3]:
plt.style.use('./d4sci.mplstyle')

## Probability

In [4]:
data = pd.DataFrame({
    'Gender': ['Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female'],
    'Education': ['No High School', 'High School', 'College', 'Grad School', 'No High School', 'High School', 'College', 'Grad School'],
    'Occurrence': [112, 231, 595, 242, 136, 189, 763, 172]
})

In [5]:
data.set_index(['Gender', 'Education'], inplace=True)

In [6]:
data.sum()

Occurrence    2440
dtype: int64

In [7]:
P = data/data.sum()

In [8]:
P

                       Occurrence
Gender Education
Male   No High School    0.045902
       High School       0.094672
       College           0.243852
       Grad School       0.099180
Female No High School    0.055738
       High School       0.077459
       College           0.312705
       Grad School       0.070492

In [9]:
P.loc[(slice(None), 'High School'), :].sum()

Occurrence    0.172131
dtype: float64

In [10]:
P.loc['Female'].sum() + P.loc[(slice(None), 'High School'), :].sum() - P.loc[('Female', 'High School')]

Occurrence    0.611066
dtype: float64

In [11]:
data.loc[('Male', 'High School')]

Occurrence    231
Name: (Male, High School), dtype: int64

In [12]:
P_Female = data.loc['Female'].sum()/data.sum()

In [13]:
(data.loc[('Male', 'High School')] + data.loc['Female'].sum())/data.sum()

Occurrence    0.611066
dtype: float64

In [14]:
idx = pd.IndexSlice

In [15]:
data.loc[(slice(None), 'High School'), :].sum()/data.sum()

Occurrence    0.172131
dtype: float64

In [16]:
data.loc[('Female', 'High School')]/data.sum()

Occurrence    0.077459
dtype: float64

In [17]:
table = pd.pivot_table(data.reset_index(), index='Gender', columns='Education')

In [18]:
table

          Occurrence
Education    College Grad School High School No High School
Gender
Female           763         172         189            136
Male             595         242         231            112

In [19]:
table.loc['Total'] = table.sum()
table['Total'] = table.sum(axis=1)

In [20]:
table

          Occurrence                                        Total
Education    College Grad School High School No High School
Gender
Female           763         172         189            136  1260
Male             595         242         231            112  1180
Total           1358         414         420            248  2440

<div style="width: 100%; overflow: hidden;">
     <img src="data/D4Sci_logo_full.png" alt="Data For Science, Inc" align="center" border="0" width=300px> 
</div>